.dropdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.dropdown button {
    background-color: #837ae7;
    margin: 20px;
}

.dropdown button:hover {
    background-color: black;
}